public_html/dati/localita.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  targetNamespace="http://www.localita.com"
  xmlns="http://www.localita.com"
  elementFormDefault="qualified">

  <xsd:element name="localita" type="Tlocalita"/>

  <xsd:complexType name="Tlocalita"><xsd:sequence maxOccurs="unbounded">
    <xsd:element name="place" type="xsd:string">
  </xsd:sequence></xsd:complexType>
</xsd:schema>
